body {
    background-color: #ffffff;
}

.title {
    margin-left: 20px;
    font-size: 24px;
    font-weight: normal;
}

#nav {
    border-radius: 5px;
    margin: 10px 5px;
    padding: 5px;
    background-color: #444;
    color: #fff;
}

#nav hr {
  border-color: #999;
}

#nav a {
  color: #ddd;
}

ul.report_list {
  list-style-type: square;
}


ul.report_list li a {
  cursor: pointer;
}


#results {
    margin: 10px 5px;
    padding: 0px;
}

/* Bootstrap overrides */

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 5px;
  padding-right: 5px;  
}

/*
-------------------------------------------------------------------------------------------------------
RESULTS TABLE
-------------------------------------------------------------------------------------------------------
*/

table.results {
  margin-bottom:5px;
}

table.results th {
  padding: 3px 6px 2px 6px;
  white-space:nowrap;
  background: #aaaaaa url('../util/gradient.php?color1=aaaaaa&color2=888888&height=15') repeat-x;
  border-right:1px solid #777777;
  border-bottom:1px solid #777777;
  color:#ffffff;
  font-weight:normal;
  font-size: 12px;
}

table.results th a {
  color:#ffffff;
  text-decoration:none;
}

table.results td {
  vertical-align: top;
  padding: 2px 6px 1px 6px;
  font-size: 12px;
  border-right:1px solid #cccccc;
  border-bottom:1px solid #cccccc;
  white-space: normal;
}

table.results > tbody > tr > td {
  background: #ffffff url('../util/gradient.php?color1=ffffff&color2=f0f0f0&height=20') repeat-x;
}
table.results > tbody > tr:hover > td {
  background:#ffeecc;
}

/*
table.results td.clr1 {
  background: #ffffff url('../util/gradient.php?color1=ffffff&color2=f0f0f0&height=20') repeat-x;
}
*/

/* deprecated */
table.results > tbody > tr > td.clr2 {
  background: #ddddee;
}
table.results > tbody > tr > td.alt {
  background: #ddddee;
}
table.results > tbody > tr > td.alt2 {
  background: #cccccc;
}

table.results > tbody > tr > td.reviewed {
  color:#666666;
  background: #cccccc;
  font-style:italic;
}
table.results > tbody > tr:hover > td.reviewed {
  background: #ccccee;
}

table.results > tbody > tr > td.filtered {
  background: #ccccdd;
  font-style:italic;
}
table.results > tbody > tr:hover > td.filtered {
  background: #ccccdd;
}


table.results > tbody > tr > td.longlink {
  padding:0px 2px;
  border:none;
  font-family:monaco,andale mono,monospace;
  font-size:11px;
  border-bottom:1px solid #cccccc;
}
table.results > tbody > tr > td.long {
  padding:3px 6px;
  background: #dddddd url('../util/gradient.php?color1=999999&color2=dddddd&height=5') bottom left repeat-x;
  font-family:monaco,andale mono,monospace;
  font-size:11px;
  color:#444444;
}

table.results > tbody > tr > td.longlink > span.display_link {
  font:normal 9px tahoma;
  color:#001144;
  cursor:pointer;
}

table.results > tbody > tr > td.reviewed a:link {
  color:#666666;
  font-style:italic;
}

/* Style-less cells containing action links at end of row */
table.results > thead > tr > th.bare {
  border:none;
  background:none;
  font:12px arial;
  color:#555555;
}
table.results > tbody > tr > td.bare {
  border:none;
  background:none;
  font:12px arial;
  color:#555555;
}

table.result_options td {
  padding: 2px 6px 1px 6px;
  font-size: 12px;
  background: #ffffff url('../util/gradient.php?color1=ffffff&color2=f0f0f0&height=20') repeat-x;
  border:1px solid #cccccc;
  margin-right:5px;
}

span.hlight:hover {
  text-decoration:underline;
  color:maroon;
}

span.option_link {
  font:12px arial;
  color:#777777;
  cursor:pointer;
}
span.option_link:hover {
  color:#cc0000;
}


